.card {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(93, 43, 63);
    cursor: pointer;
    backdrop-filter: blur(10px); 
    color: white;
    font-size: 3rem;
    border-radius: 10px;
  }
  
  .card.flipped {
    background-color: #fff;
    color: black;
  }
  
  .card-back {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #4b1d3f;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  